*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  height: 100vh;
  /* background-color: #f87878; */
  background-size: contain;
  background-image: url(https://rossaprimavera.ru/static/files/f0f5bc81a88d.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 15px;
 
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.title{
  font-weight: bold;
  text-transform: uppercase;
}
.Class{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
button{
  padding: 15px 30px;
  background-color: rgb(119, 0, 255);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  
}